<tr>
  <td><%= profile.id%></td>
  <td><%= profile.user_name%></td>
  <td><%= profile.image_link%></td>
  <td><%= profile.description%></td>
  <td><%= profile.twitter_account%></td>
  <td><%= link_to 'edit', edit_profile_path(profile) %></td>
</tr>